
<!--https://zuramai.github.io/mazer/demo/index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TCC Online | Doctors</title>

    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/css/main/app.css" />
    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/css/main/app-dark.css" />
    <link
      rel="shortcut icon"
      href="assets/images/logo/favicon.svg"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="https://zuramai.github.io/mazer/demo/assets/images/logo/favicon.png"
      type="image/png"
    />

    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/css/shared/iconly.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>

  <body>
    <div id="app">
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
              <div style = "margin-bottom: -40px;" class="logo">
                <a href="/"><img style="width: 80px; height: 80px; margin-left: 75px;"src="{{url_for('static', filename='assets/logoD.png')}}" alt="Logo" srcset=""/></a>
                <p class="sidebar-title" style="font-size: 20px;">The Confidentiality Clinic</p> 
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Menu</li>
                <li class="sidebar-item has-sub">
                  <a href="#" class="sidebar-link">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    <span>Appointments</span>
                  </a>
                  <ul class="submenu">
                    <li class="submenu-item">
                      <a href="" data-bs-toggle="modal" data-bs-target="">View Appointments</a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="fa fa-user-md" aria-hidden="true"></i>
                  <span>Doctors</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="#" data-bs-toggle="modal" data-bs-target="#doctorsform">View Doctors</a>
                  </li>
                </ul>
              </li>

              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <span>Patients</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="" data-bs-toggle="modal" data-bs-target="#patientsform">Add</a>
                  </li>
                </ul>
              </li>

              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="fa fa-bell-o" aria-hidden="true"></i>
                  <span>Reminders</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="" data-bs-toggle="modal" data-bs-target="">add</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        

      </div>

      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-heading">
          <h3>Manage Doctors Records</h3>
        </div>



        <div class="page-content">
          <section class="row">
            <!-- Hoverable rows start -->
          <section class="section">
            <div class="row" id="table-hover-row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header" style="margin-bottom: -40px;">
                    <h4 class="card-title">List of Doctors</h4>
                  </div>
                  <div class="card-content">
                    <div class="card-body" style="margin-bottom: -10px;">
                      <p>
                        Manage Doctors information here, such as Adding a new doctor, Updating doctor's information, and removing a doctor from the list
                      </p>
                    </div>
                    <input type="text" name="s" id="lnames">
                    <!-- table hover -->
                    <div class="table-responsive">
                      <table class="table table-hover mb-0" id = "tables">
                        <thead>
                          <tr>
                            <th>TITLE</th>
                            <th>NAME</th>
                            <th>FIELD</th>
                            <th>ACTION</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% for doc in doctors %}
                          <tr>
                            <td>{{doc[0]}}</td>
                            <td>{{doc[1]}}</td>
                            <td>{{doc[2]}}</td>
                            <td>test</td>
                          </td>
                          </tr>
                          {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!-- Hoverable rows end -->
          </section>
        </div>
      </div>
    </div>
    <script>
    
      var tables = document.getElementById('tables');
      
      for(var i = 1; i < tables.rows.length; i++)
      {
        tables.rows[i].onclick = function()
          {
               document.getElementById("lname").value = this.cells[1].innerHTML;
          };
      }

      </script>
    <script src="https://zuramai.github.io/mazer/demo/assets/js/bootstrap.js"></script>
    <script src="https://zuramai.github.io/mazer/demo/assets/js/app.js"></script>

    <!-- Need: Apexcharts -->
    <script src="https://zuramai.github.io/mazer/demo/assets/extensions/apexcharts/apexcharts.min.js"></script>
    <script src="https://zuramai.github.io/mazer/demo/assets/js/pages/dashboard.js"></script>
  </body>
</html>
