
<!--https://zuramai.github.io/mazer/demo/index.html-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Mazer Admin Dashboard</title>

    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/css/main/app.css" />
    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/css/main/app-dark.css" />
    <link
      rel="shortcut icon"
      href="assets/images/logo/favicon.svg"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="https://zuramai.github.io/mazer/demo/assets/images/logo/favicon.png"
      type="image/png"
    />

    <link rel="stylesheet" href="https://zuramai.github.io/mazer/demo/assets/css/shared/iconly.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
  </head>

  <body>
    <div id="app">
      <div id="sidebar" class="active">
        <div class="sidebar-wrapper active">
          <div class="sidebar-header position-relative">
            <div class="d-flex justify-content-between align-items-center">
              <div style = "margin-bottom: -40px;" class="logo">
                <a href="index.html"><img style="width: 80px; height: 80px; margin-left: 75px;"src="{{url_for('static', filename='assets/logoD.png')}}" alt="Logo" srcset=""/></a>
                <p class="sidebar-title" style="font-size: 20px;">The Confidentiality Clinic</p> 
              </div>
            </div>
          </div>
          <div class="sidebar-menu">
            <ul class="menu">
              <li class="sidebar-title">Menu</li>
                <li class="sidebar-item has-sub">
                  <a href="#" class="sidebar-link">
                    <i class="fa fa-calendar-o" aria-hidden="true"></i>
                    <span>Appointments</span>
                  </a>
                  <ul class="submenu">
                    <li class="submenu-item">
                      <a href="" data-bs-toggle="modal" data-bs-target="">Add</a>
                    </li>
                  </ul>
                </li>

                <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="fa fa-user-md" aria-hidden="true"></i>
                  <span>Doctors</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="" data-bs-toggle="modal" data-bs-target="#doctorsform">Add</a>
                  </li>
                </ul>
              </li>

              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="fa fa-users" aria-hidden="true"></i>
                  <span>Patients</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="" data-bs-toggle="modal" data-bs-target="">Add</a>
                  </li>
                </ul>
              </li>

              <li class="sidebar-item has-sub">
                <a href="#" class="sidebar-link">
                  <i class="fa fa-bell-o" aria-hidden="true"></i>
                  <span>Reminders</span>
                </a>
                <ul class="submenu">
                  <li class="submenu-item">
                    <a href="" data-bs-toggle="modal" data-bs-target="">Add</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>

        <!--START - Modal for Doctors-->
        <div class="modal fade text-left" id="doctorsform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel33">Add a doctor on the list</h4>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
              </div>
              <form action="#">
                <div class="modal-body">  
                  <label>Title: </label>
                    <div class="form-group">
                      <select class="form-select" id="basicSelect" required>
                        <option>Dr.</option>
                      </select>
                    </div>

                  <label>Last Name: </label>
                    <div class="form-group">
                      <input type="text" placeholder="Last Name" class="form-control" required/>
                    </div>
                  <label>First Name: </label>
                    <div class="form-group">
                      <input type="text" placeholder="First Name" class="form-control" required/>
                    </div>
                  <label>Field: </label>
                    <div class="form-group">
                      <input type="text" placeholder="Field" class="form-control" required/>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal"><i class="bx bx-x d-block d-sm-none"></i><span class="d-none d-sm-block">Close</span></button>
                  <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal"><i class="bx bx-check d-block d-sm-none"></i><span class="d-none d-sm-block">Add</span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--END - Modal for Doctors-->

        <!--START - Modal for Doctors-->
        <div class="modal fade text-left" id="doctorsform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel33" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel33">Add a doctor on the list</h4>
                  <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><i data-feather="x"></i></button>
              </div>
              <form action="#">
                <div class="modal-body">  
                  <label>Title: </label>
                    <div class="form-group">
                      <select class="form-select" id="basicSelect" required>
                        <option>Dr.</option>
                      </select>
                    </div>

                  <label>Last Name: </label>
                    <div class="form-group">
                      <input type="text" placeholder="Last Name" class="form-control" required/>
                    </div>
                  <label>First Name: </label>
                    <div class="form-group">
                      <input type="text" placeholder="First Name" class="form-control" required/>
                    </div>
                  <label>Field: </label>
                    <div class="form-group">
                      <input type="text" placeholder="Field" class="form-control" required/>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-light-secondary" data-bs-dismiss="modal"><i class="bx bx-x d-block d-sm-none"></i><span class="d-none d-sm-block">Close</span></button>
                  <button type="button" class="btn btn-primary ml-1" data-bs-dismiss="modal"><i class="bx bx-check d-block d-sm-none"></i><span class="d-none d-sm-block">Add</span></button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!--END - Modal for Doctors-->
        

      </div>

      <div id="main">
        <header class="mb-3">
          <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
          </a>
        </header>

        <div class="page-heading">
          <h3>System Statistics</h3>
        </div>
        <div class="page-content">
          <section class="row">
            <div class="col-12 col-lg-9">
              <div class="row">
                <div class="col-6 col-lg-3 col-md-6">
                  <div class="card">
                    <div class="card-body px-4 py-4-5">
                      <div class="row">
                        <div
                          class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                        >
                          <div class="stats-icon purple mb-2">
                            <i class="fa fa-calendar-o" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                          <h6 class="text-muted font-semibold">
                            Apointments
                          </h6>
                          <h6 class="font-extrabold mb-0">{{var_apointments}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                  <div class="card">
                    <div class="card-body px-4 py-4-5">
                      <div class="row">
                        <div
                          class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                        >
                          <div class="stats-icon blue mb-2">
                            <i class="fa fa-users" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                          <h6 class="text-muted font-semibold">Patients</h6>
                          <h6 class="font-extrabold mb-0">{{var_patients}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                  <div class="card">
                    <div class="card-body px-4 py-4-5">
                      <div class="row">
                        <div
                          class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                        >
                          <div class="stats-icon green mb-2">
                            <i class="fa fa-user-md" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                          <h6 class="text-muted font-semibold">Doctors</h6>
                          <h6 class="font-extrabold mb-0">{{var_doctors}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6 col-lg-3 col-md-6">
                  <div class="card">
                    <div class="card-body px-4 py-4-5">
                      <div class="row">
                        <div
                          class="col-md-4 col-lg-12 col-xl-12 col-xxl-5 d-flex justify-content-start"
                        >
                          <div class="stats-icon red mb-2">
                            <i class="fa fa-bell-o" aria-hidden="true"></i>
                          </div>
                        </div>
                        <div class="col-md-8 col-lg-12 col-xl-12 col-xxl-7">
                          <h6 class="text-muted font-semibold">Reminders</h6>
                          <h6 class="font-extrabold mb-0">{{var_reminders}}</h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
    <script src="https://zuramai.github.io/mazer/demo/assets/js/bootstrap.js"></script>
    <script src="https://zuramai.github.io/mazer/demo/assets/js/app.js"></script>

    <!-- Need: Apexcharts -->
    <script src="https://zuramai.github.io/mazer/demo/assets/extensions/apexcharts/apexcharts.min.js"></script>
    <script src="https://zuramai.github.io/mazer/demo/assets/js/pages/dashboard.js"></script>
  </body>
</html>
