{% extends "base.html" %}
{% block title %}TCC Online | Doctors List{% endblock %}

{% block content %}

    <!--For the deletion modal-->
        <!-- Latest compiled and minified CSS -->
        

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   <!--For the deletion modal-->
   
   <div class="">
    <h3>Manage Doctors Records</h3>
  </div>



  <div class="page-content">
    <section class="row">
      <!-- Hoverable rows start -->
    <section class="section">
      <div class="row" id="table-hover-row">
        <div class="col-12">
          <div class="card">
            <div class="card-header" style="margin-bottom: -40px;">
              <h4 class="card-title">List of Doctors</h4>
            </div>
            <div class="card-content">
              <div class="card-body" style="margin-bottom: -10px;">
                <p>
                  Manage Doctors information here, such as Adding a new doctor, Updating doctor's information, and archiving a doctor from the list
                </p>
              </div>

              <div class="table-responsive">
                <div>
                    <table class="table table-hover mb-0" id="myTable">
                        <thead>
                            <tr>
                                <th>TITLE</th>
                                <th>NAME</th>
                                <th>FIELD</th>
                                <th>ACTION</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for doc in doctors %}
                                <tr>
                                  <td hidden>{{doc[0]}}</td>
                                  <td>{{doc[1]}}</td>
                                  <td>{{doc[2]}}</td>
                                  <td>{{doc[3]}}</td>
                                    <!--<td><button class="btnEdit btn btn-primary">Edit</button></td>-->
                                    <td class="text-right" width = "200px">
                                        <span>
                                            <a href="/edit_doc/{{doc[0]}}"><button style="width: 70px; height: 30px; text-align: center; line-height: 0%;" class="btn btn-warning" type="button"><i class="fa fa-edit"></i></button></a>
                                            <button style="width: 70px; height: 30px; text-align: center; line-height: 0%;" class="btnEdit btn btn-danger" type="button"><i class="fa fa-trash"></i></button>
                                        </span>
                                </tr>
                                {% endfor %}
                        </tbody>
            
                    </table>
                </div>
              </div>
    <!--Disabled Backdrop Modal -->
    <div
    class="modal text-left"
    id="EditModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel4"
    data-bs-backdrop="false"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
      role="document"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel4">
            System Prompt
          </h4>
          <button
            type="button"
            class="close"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i data-feather="x"></i>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this record?</p>
          <p id="sel"></p>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-light-secondary"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-x d-block d-sm-none"></i>
            <span class="d-none d-sm-block">No</span>
          </button>
          <a id="delid" href="" value ="Name">
          <button
            type="button"
            class="btn btn-danger ml-1"
            data-bs-dismiss="modal"
          >
            <i class="bx bx-check d-block d-sm-none"></i>
            <span class="d-none d-sm-block">Yes</span>
          </button>
        </a>
        </div>
      </div>
    </div>
  </div>
<!--Disabled Backdrop Modal -->

    <script>
        $(".btnEdit").click(function () {
            debugger;
            var currentTds = $(this).closest("tr").find("td"); // find all td of selected row
            var docID = $(currentTds).eq(0).text(); // eq= cell , text = inner text
            var sel = $(currentTds).eq(2).text(); // eq= cell , text = inner text
            var isel = $(currentTds).eq(1).text(); // eq= cell , text = inner text
            $("#delid").prop("href", "/archived_doc/"+docID)
            $("#sel").text(isel+" "+sel)
            $("#EditModal").modal('show');
        });
    </script>
    {% endblock %}

