{% extends "base.html" %}
{% block title %}TCC Online | Doctors List{% endblock %}
{% block content %}

<div class="">
    <h3>Manage Doctors Records</h3>
  </div>



  <div class="page-content">
    <section class="row">
      <!-- Hoverable rows start -->
    <section class="section">
      <div class="row" id="table-hover-row">
        <div class="col-12">
          <div class="card">
            <div class="card-header" style="margin-bottom: -40px;">
              <h4 class="card-title">List of Doctors</h4>
            </div>
            <div class="card-content">
              <div class="card-body" style="margin-bottom: -10px;">
                <p>
                  Manage Doctors information here, such as Adding a new doctor, Updating doctor's information, and archiving a doctor from the list
                </p>
              </div>


              <!-- table hover -->
              <div class="table-responsive">
                <table class="table table-hover mb-0" id = "tables">
                  <thead>
                    <tr>
                      <th>TITLE</th>
                      <th>NAME</th>
                      <th>FIELD</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for doc in doctors %}
                    <tr>
                      <td>{{doc[1]}}</td>
                      <td>{{doc[2]}}</td>
                      <td>{{doc[3]}}</td>

                      <td class="text-right" width = "200px">
                        <span>
                            <button style="width: 70px; height: 30px; text-align: center; line-height: 0%;" class="btn btn-warning" data-bs-toggle="modal"
                            data-bs-target="#backdrop" type="button">test</button>
                            <a href="/edit_doc/{{doc[0]}}"><button style="width: 70px; height: 30px; text-align: center; line-height: 0%;" class="btn btn-warning" type="button"><i class="fa fa-edit"></i></button></a>
                            <a href="/archive_doc/{{doc[0]}}"><button style="width: 70px; height: 30px; text-align: center; line-height: 0%;" class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button></a>
                        </span>
                        <!--Disabled Backdrop Modal -->
                        <div
                        class="modal fade text-left"
                        id="backdrop"
                        tabindex="-1"
                        role="dialog"
                        aria-labelledby="myModalLabel4"
                        data-bs-backdrop="false"
                        aria-hidden="true"
                      >
                        <div
                          class="modal-dialog modal-dialog-centered modal-dialog-scrollable"
                          role="document"
                        >
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="myModalLabel4">
                                Disabled Backdrop
                              </h4>
                              <button
                                type="button"
                                class="close"
                                data-bs-dismiss="modal"
                                aria-label="Close"
                              >
                                <i data-feather="x"></i>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>
                                Are you sure you want to delete this record?<br>
                                Doctor: {{doc[2]}}
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button
                                type="button"
                                class="btn btn-light-secondary"
                                data-bs-dismiss="modal"
                              >
                                <i class="bx bx-x d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">No</span>
                              </button>
                              <a href="/edit_doc/{{doc[0]}}">
                              <button
                                type="button"
                                class="btn btn-primary ml-1"
                                data-bs-dismiss="modal"
                              >
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Yes</span>
                              </button>
                            </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!--Disabled Backdrop Modal -->
                      </td>

                        
                    
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hoverable rows end -->
    </section>
  </div>

{% endblock %}