{% extends "base.html" %}
{% block title %}TCC Online | Doctors List{% endblock %}
{% block content %}

<div class="">
    <h3>Manage Doctors Records</h3>
  </div>



  <div class="page-content">
    <section class="row">
      <!-- Hoverable rows start -->
    <section class="section">
      <div class="row" id="table-hover-row">
        <div class="col-12">
          <div class="card">
            <div class="card-header" style="margin-bottom: -40px;">
              <h4 class="card-title">List of Doctors</h4>
            </div>
            <div class="card-content">
              <div class="card-body" style="margin-bottom: -10px;">
                <p>
                  Manage Doctors information here, such as Adding a new doctor, Updating doctor's information, and archiving a doctor from the list
                </p>
              </div>


              <!-- table hover -->
              <div class="table-responsive">
                <table class="table table-hover mb-0" id = "tables">
                  <thead>
                    <tr>
                      <th>TITLE</th>
                      <th>NAME</th>
                      <th>FIELD</th>
                      <th>ACTION</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for doc in doctors %}
                    <tr>
                      <td>{{doc[1]}}</td>
                      <td>{{doc[2]}}</td>
                      <td>{{doc[3]}}</td>

                      <td class="text-right" width = "200px">
                        <span>
                            <a href="/edit_doc/{{doc[0]}}"><button style="width: 70px; height: 30px; text-align: center; line-height: 0%;" class="btn btn-warning" type="button"><i class="fa fa-edit"></i></button></a>
                            <a href="/archive_doc/{{doc[0]}}"><button style="width: 70px; height: 30px; text-align: center; line-height: 0%;" class="btn btn-danger" type="button"><i class="fa fa-trash"></i></button></a>
                        </span>
                      </td>

                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Hoverable rows end -->
    </section>
  </div>

{% endblock %}